<!-- <div
  class="flex items-center justify-center gap-2 w-full absolute top-0 z-[50] bg-yellow-300/80 h-8"
>
  <i class="fa-solid fa-wrench text-xs"></i>
  <p class="text-sm font-bold text-gray-800">en desarrollo...</p>
</div> -->

<div
  class="w-full h-14 flex items-center justify-between border-b border-gray-700"
>
  <div class="flex items-center">
    <a [routerLink]="['/dev-tools']" routerLinkActive="router-link-active">
      <img src="assets/icons/logo.svg" class="h-6 mx-6" alt="Popcorn Logo"
    /></a>

    <div class="shrink-0 bg-gray-700 w-[0.5px] h-4"></div>
    <a
      href="https://arnausaborit.com"
      target="_blank"
      class="text-white/55 font-semibold text-[0.8rem] ml-6 hover:text-white hover:underline hover:underline-offset-4 cursor-pointer"
    >
      Autor
    </a>
  </div>
  <div class="flex items-center">
    <a
      href="https://github.com/arnausaboritcode/DevTools"
      target="_blank"
      class="flex items-center gap-x-3 cursor-pointer text-white text-xs font-bold text-pretty px-4 py-2 rounded-xl bg-gray-800 border border-gray-700 hover:scale-105 hover:bg-gray-700 transition-all duration-300 mr-3"
    >
      <i class="fa-brands fa-github text-xs"></i>
      GitHub
    </a>
  </div>
</div>
