<footer
  class="flex flex-col items-center justify-center gap-y-3 text-center p-10 border-t border-gray-700"
>
  <div class="w-full flex items-center justify-center text-2xl space-x-2">
    <img src="assets/icons/logo.svg" class="h-8" alt="DevHunt logo" />
  </div>
  <p class="text-white/55 font-semibold text-[0.8rem] text-pretty">
    Diseñado y desarrollado con
    <i class="fa-solid fa-heart text-sm mx-1"></i> por
    <a
      class="hover:text-white hover:underline hover:underline-offset-4 cursor-pointer transition-all duration-300"
      href="https://arnausaborit.com"
      target="_blank"
      >arnausaboritcode</a
    >
  </p>
</footer>
