<div
  *ngIf="task"
  class="w-full bg-transparent shadow-gray-400/25 rounded-xl border border-gray-700 p-4"
>
  <div class="w-full flex flex-col justify-center items-start gap-3">
    <h1 class="text-xl text-white text-pretty font-geist">
      {{ task.title }}
    </h1>
    <div class="flex flex-wrap items-center gap-2">
      <div
        class="flex items-center gap-2 text-white text-sm text-pretty px-3 py-1 rounded-xl bg-gray-800"
      >
        <i class="fa-solid fa-calendar text-xs"></i>
        Anonymus
      </div>
      <div
        class="flex items-center gap-2 text-white text-sm text-pretty px-3 py-1 rounded-xl bg-gray-800"
      >
        <i class="fa-solid fa-calendar text-xs"></i>
        {{ task.type }}
      </div>
    </div>
    <p class="text-sm text-gray-400 text-pretty">{{ task.description }}</p>
    <div class="w-full flex justify-center items-center"></div>
  </div>
</div>
