<div class="w-screen h-screen flex flex-col justify-center items-center">
  <div
    class="absolute z-10 bg-gradient-to-b from-[#020617] via-[#020617] to-[#3b82f6] inset-0 size-full m-auto opacity-60"
  ></div>
  <div class="z-10 pointer-events-none absolute size-full inset-0 m-auto">
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.280886;
        top: 5.32038vh;
        left: 30.1286vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.107325;
        top: 56.7611vh;
        left: 49.911vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.699441;
        top: 21.1964vh;
        left: 37.4079vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.485242;
        top: 79.0432vh;
        left: 85.0274vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.217131;
        top: 55.329vh;
        left: 6.14123vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.282572;
        top: 3.52838vh;
        left: 28.7265vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.428898;
        top: 26.5872vh;
        left: 63.4337vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.0688283;
        top: 8.32394vh;
        left: 27.7293vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.996794;
        top: 83.362vh;
        left: 48.1655vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.834143;
        top: 64.5081vh;
        left: 46.3921vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.694941;
        top: 74.34vh;
        left: 95.5707vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.951638;
        top: 95.9781vh;
        left: 41.0957vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.556922;
        top: 60.5429vh;
        left: 75.8117vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.504526;
        top: 8.26538vh;
        left: 88.2077vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.375769;
        top: 38.4974vh;
        left: 12.2624vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.26485;
        top: 71.6024vh;
        left: 38.9668vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.00179257;
        top: 3.51081vh;
        left: 89.4764vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.477195;
        top: 60.3227vh;
        left: 0.179516vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.979206;
        top: 72.3703vh;
        left: 9.02558vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.98597;
        top: 75.5558vh;
        left: 71.6456vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.592355;
        top: 81.0127vh;
        left: 53.6533vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.895515;
        top: 60.8278vh;
        left: 94.098vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.276134;
        top: 97.931vh;
        left: 22.4909vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.397355;
        top: 48.5197vh;
        left: 56.2888vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.265676;
        top: 72.139vh;
        left: 61.1779vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.262403;
        top: 54.2122vh;
        left: 47.8973vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.467579;
        top: 30.8309vh;
        left: 67.9791vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.886271;
        top: 14.0302vh;
        left: 25.9798vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.463476;
        top: 68.7952vh;
        left: 69.2836vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.608666;
        top: 36.5024vh;
        left: 13.8771vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.804994;
        top: 22.9018vh;
        left: 1.35102vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.630062;
        top: 88.9259vh;
        left: 1.70633vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.0223091;
        top: 52.3156vh;
        left: 80.5897vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.195766;
        top: 59.8251vh;
        left: 78.5488vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.501015;
        top: 9.17237vh;
        left: 25.5546vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.98076;
        top: 97.3057vh;
        left: 18.5366vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.648584;
        top: 7.78339vh;
        left: 14.8038vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.631417;
        top: 18.019vh;
        left: 0.432546vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.663524;
        top: 40.2681vh;
        left: 93.0953vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.79417;
        top: 14.5352vh;
        left: 92.6161vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.561012;
        top: 74.3427vh;
        left: 67.0863vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.467495;
        top: 24.2028vh;
        left: 86.1516vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.699464;
        top: 93.542vh;
        left: 52.3689vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.361383;
        top: 36.9825vh;
        left: 59.5405vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.52406;
        top: 45.6043vh;
        left: 3.54005vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.303511;
        top: 61.3771vh;
        left: 24.266vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.701747;
        top: 44.8272vh;
        left: 13.2932vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.838112;
        top: 1.58159vh;
        left: 37.7175vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.0644685;
        top: 75.4303vh;
        left: 42.3568vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.839478;
        top: 24.0999vh;
        left: 83.6622vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.0505478;
        top: 12.4965vh;
        left: 42.9039vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.641045;
        top: 74.4126vh;
        left: 61.2974vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.663702;
        top: 96.3589vh;
        left: 65.4448vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.167164;
        top: 46.1146vh;
        left: 27.0267vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.82224;
        top: 58.6364vh;
        left: 2.34411vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.292988;
        top: 74.3775vh;
        left: 7.05088vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.663047;
        top: 29.1336vh;
        left: 97.6977vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.769356;
        top: 18.8436vh;
        left: 6.03316vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.225267;
        top: 48.5765vh;
        left: 88.6657vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.292089;
        top: 99.0771vh;
        left: 62.1108vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.436214;
        top: 39.1606vh;
        left: 38.8881vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.776117;
        top: 3.08729vh;
        left: 33.4639vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.965645;
        top: 88.0257vh;
        left: 91.8231vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.523292;
        top: 83.707vh;
        left: 85.1333vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.312816;
        top: 11.18vh;
        left: 34.4193vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.867807;
        top: 15.6279vh;
        left: 55.2603vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.708738;
        top: 14.2639vh;
        left: 75.8506vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.705274;
        top: 28.8906vh;
        left: 42.9092vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.633462;
        top: 84.7519vh;
        left: 85.6066vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.141911;
        top: 71.0863vh;
        left: 8.06394vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.736917;
        top: 96.1461vh;
        left: 50.0396vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.417588;
        top: 70.2753vh;
        left: 87.0818vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.440917;
        top: 94.455vh;
        left: 92.3679vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.385254;
        top: 14.4853vh;
        left: 56.9109vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.387638;
        top: 52.0303vh;
        left: 25.3288vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.161132;
        top: 32.4337vh;
        left: 51.6971vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.591167;
        top: 0.999631vh;
        left: 63.0846vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.794228;
        top: 25.9065vh;
        left: 14.8842vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.149707;
        top: 63.7814vh;
        left: 77.5705vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.899543;
        top: 20.5937vh;
        left: 93.8056vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.797467;
        top: 27.8106vh;
        left: 5.25702vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.213868;
        top: 44.1256vh;
        left: 23.6656vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.22021;
        top: 83.1435vh;
        left: 32.9187vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.710965;
        top: 5.1185vh;
        left: 27.6596vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.0674938;
        top: 68.9548vh;
        left: 31.677vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.00474288;
        top: 28.3238vh;
        left: 61.199vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.728939;
        top: 52.7267vh;
        left: 97.8837vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.393515;
        top: 3.55663vh;
        left: 23.6127vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.461085;
        top: 58.699vh;
        left: 73.7003vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.740117;
        top: 51.0917vh;
        left: 68.9296vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.755119;
        top: 94.6153vh;
        left: 57.3544vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.395326;
        top: 44.4942vh;
        left: 5.93516vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.388287;
        top: 10.3291vh;
        left: 71.5121vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.114747;
        top: 77.0845vh;
        left: 68.7652vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.00381579;
        top: 35.6534vh;
        left: 97.9953vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.339964;
        top: 42.1118vh;
        left: 84.0523vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.463877;
        top: 9.30938vh;
        left: 88.9341vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.353525;
        top: 59.4001vh;
        left: 94.3986vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.0461085;
        top: 58.826vh;
        left: 36.4528vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.340458;
        top: 39.8003vh;
        left: 13.0819vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.429943;
        top: 20.9131vh;
        left: 75.5088vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.308079;
        top: 38.3808vh;
        left: 31.4299vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.0249148;
        top: 40.4072vh;
        left: 79.5688vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.735755;
        top: 71.1766vh;
        left: 74.9132vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.107843;
        top: 91.7453vh;
        left: 30.9878vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.241128;
        top: 71.9194vh;
        left: 46.8486vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.231129;
        top: 32.1576vh;
        left: 69.7674vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.299531;
        top: 10.6707vh;
        left: 80.4116vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.240989;
        top: 85.9796vh;
        left: 31.4253vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.448233;
        top: 25.8032vh;
        left: 78.8145vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.897041;
        top: 80.4585vh;
        left: 2.48566vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.500778;
        top: 13.6621vh;
        left: 33.9643vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.790658;
        top: 69.4991vh;
        left: 39.8184vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.552199;
        top: 25.5331vh;
        left: 40.5432vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.912643;
        top: 67.2622vh;
        left: 81.4113vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.765438;
        top: 71.6692vh;
        left: 66.2193vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.832512;
        top: 93.7333vh;
        left: 57.3456vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.402924;
        top: 2.18739vh;
        left: 45.5447vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.546499;
        top: 59.4574vh;
        left: 15.4886vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.793109;
        top: 91.984vh;
        left: 96.6713vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.319974;
        top: 11.2303vh;
        left: 75.3309vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.512042;
        top: 84.255vh;
        left: 86.5675vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.457497;
        top: 78.2563vh;
        left: 16.9335vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.355364;
        top: 50.8027vh;
        left: 78.9371vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.161467;
        top: 57.3862vh;
        left: 42.4777vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.632332;
        top: 20.2628vh;
        left: 90.6316vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.332768;
        top: 15.1535vh;
        left: 96.4096vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.644435;
        top: 68.4959vh;
        left: 76.5617vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.05445;
        top: 44.2279vh;
        left: 55.6544vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.617946;
        top: 0.541913vh;
        left: 41.0985vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.161646;
        top: 34.0321vh;
        left: 78.4509vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.801943;
        top: 74.9839vh;
        left: 80.5226vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.572302;
        top: 95.8414vh;
        left: 43.5628vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.92718;
        top: 10.7381vh;
        left: 64.4608vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.381142;
        top: 36.5932vh;
        left: 39.4995vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.957135;
        top: 33.4801vh;
        left: 34.6208vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.618834;
        top: 94.0776vh;
        left: 46.9551vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.595253;
        top: 10.2484vh;
        left: 43.5215vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.200959;
        top: 52.0122vh;
        left: 25.6243vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.81004;
        top: 41.1594vh;
        left: 67.0462vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.667392;
        top: 70.7124vh;
        left: 21.7616vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.904021;
        top: 28.4621vh;
        left: 60.145vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.338875;
        top: 18.4831vh;
        left: 19.4144vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.152801;
        top: 6.33708vh;
        left: 72.9733vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.724549;
        top: 47.223vh;
        left: 57.4035vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.720673;
        top: 26.8609vh;
        left: 32.0893vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.869593;
        top: 69.9333vh;
        left: 31.4741vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 2px;
        height: 2px;
        opacity: 0.515586;
        top: 48.1592vh;
        left: 15.2022vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.0980444;
        top: 48.1221vh;
        left: 49.8278vw;
      "
    ></div>
    <div
      class="absolute bg-white rounded-full"
      style="
        width: 1px;
        height: 1px;
        opacity: 0.370872;
        top: 27.9547vh;
        left: 28.5808vw;
      "
    ></div>
  </div>
  <div
    class="w-1/2 z-50 flex flex-col justify-center items-center text-center gap-10"
  >
    <h1 class="text-5xl md:text-6xl lg:text-7xl font-geist text-white">
      <span class="text-blue-500">Lleva</span>
      tus proyectos al <span class="text-blue-500">siguiente nivel</span>
    </h1>
    <button
      class="flex items-center gap-x-4 cursor-pointer transition-all duration-300 px-6 py-5 shadow-button bg-button rounded-xl text-white text-base md:text-2xl font-geist hover:scale-110"
      [routerLink]="['/dev-tools']"
    >
      <i class="fa-solid fa-door-open text-white"></i>
      Descúbreme
    </button>
  </div>
</div>
