<div class="w-full max-w-screen-2xl mx-auto md:px-20 px-6 mt-20">
  <div class="flex flex-col items-center gap-10">
    <h1
      class="w-full md:w-[28rem] text-xl md:text-2xl font-geist text-pretty text-center bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200"
    >
      <span class="animate-textCycle animate-delay-[1s]">Explora</span>,
      <span class="animate-textCycle animate-delay-[3s]">Aprende</span> y
      <span class="animate-textCycle animate-delay-[2s]">Comparte</span>
      recursos esenciales
      <span
        class="px-1.5 py-0.5 bg-white text-xs text-gray-800 rounded-full ml-2 inline-block transform -rotate-[10deg]"
        >beta</span
      >
    </h1>

    <div class="flex flex-wrap justify-center items-center gap-4">
      <a
        class="flex items-center gap-x-3 cursor-pointer text-gray-800 text-xs font-bold text-pretty px-4 py-2 rounded-xl bg-white border border-gray-700 hover:scale-105 transition-all duration-300"
        [routerLink]="['/generate']"
      >
        <i class="fa-solid fa-plus text-xs"></i>
        Añade una herramienta
      </a>

      <a
        class="flex items-center gap-x-3 cursor-pointer text-white text-xs font-bold text-pretty px-4 py-2 rounded-xl bg-gray-800 border border-gray-700 hover:scale-105 hover:bg-gray-700 transition-all duration-300"
        href="https://daily.dev/es"
        target="_blank"
      >
        <i class="fa-solid fa-arrow-up-right-from-square text-xs"></i>
        Blog recomendado
      </a>
    </div>
    <p
      class="text-sm md:text-base text-white/55 text-pretty text-center italic"
    >
      "El talento gana partidos, pero el trabajo en equipo y la inteligencia
      ganan campeonatos" — Michael Jordan.
    </p>
  </div>
</div>

<div class="w-full max-w-screen-2xl mx-auto md:px-20 px-6 mt-16 pb-16">
  <div class="overflow-x-auto">
    <div
      class="flex justify-start items-center gap-2 h-9 w-auto min-w-full border-b border-1 border-gray-700"
    >
      <button
        class="w-full flex items-center justify-center gap-x-3 cursor-pointer transition-all duration-100 text-white text-base px-4 py-1.5"
        [routerLink]="['/tools/']"
        routerLinkActive="border-b"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fa-solid fa-border-all text-white"></i>
        Todos
      </button>
      <button
        class="w-full flex items-center justify-center gap-x-3 cursor-pointer transition-all duration-100 text-white text-base px-4 py-1.5"
        [routerLink]="['/tools/extensions']"
        routerLinkActive="border-b"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fa-solid fa-gears text-yellow-300"></i>
        Extensiones
      </button>
      <button
        class="w-full flex items-center justify-center gap-x-3 cursor-pointer transition-all duration-100 text-white text-base px-4 py-1.5"
        [routerLink]="['/tools/resources']"
        routerLinkActive="border-b"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fa-solid fa-layer-group text-red-300"></i>
        Recursos
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
